<% provide(:title, @user.email) %>

<h2><%= @user.email %></h2>

<% if current_user.id == @user.id %>
  <%
    @tweet = Tweet.new
    @tweet.user = @user
  %>
  <%= render 'tweets/form', tweet: @tweet %>
<% else %>
  <div id="follow-action" class="text-center">
    <% if current_user.is_follow?(@user.id) %>
      <%= link_to "Unfollow", user_follow_path(current_user, @user.id), method: :delete, class: "btn btn-danger", data: { confirm: "フォロー解除してもよろしいですか？"} %>
    <% else %>
      <%= link_to "Follow", user_follows_path(current_user, params: {id: @user.id}), method: :post, class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<hr/>

<%= render partial: 'tweets/tweet_list_partial', locals: { user: @user } %>
